@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/bg-top.svg'), url('../images/bg-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  background-color: hsl(240, 78%, 98%);
  font-family: 'Montserrat', sans-serif;
  color: hsl(232, 13%, 33%);
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

h1 {
  color: hsl(233, 13%, 49%);
  margin-bottom: 40px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 70px auto 0;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px
}

.card {
  background-color: #fff;
  color: hsl(233, 13%, 49%);
  border-radius: 10px;
  padding: 30px;
  flex: 0 0 350px;
  height: 460px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card h4 {
  margin-top: 10px;
}
.card p {
  color: hsl(232, 13%, 33%);
  font-size: 4em;
  margin: 20px 0;
}

.card ul {
  border-top: 1px solid hsl(234, 14%, 74%);
  list-style-type: none;
  margin-top: 30px;
}

.card ul li {
  border-bottom: 1px solid hsl(234, 14%, 74%);
  font-size: 14px;
  padding: 18px 0;
}

.card button {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 2px;
  padding: 15px;
  margin-top: 30px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}

.card.card-premium {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: #fff;
  transform: scaleY(1.087);
}

.card.card-premium > * {
  transform: scaleY(0.92);
}

.card.card-premium button {
  background-image: none;
  background-color: #fff;
  color: hsl(237, 63%, 64%);
}

.card.card-premium ul,
.card.card-premium ul li {
  border-color: #f0f0f0;
}
.card.card-premium p {
  color: #fff;
}

.card .monthly {
  display: none;
}

.show-monthly .card .monthly {
  display: block;
}

.show-monthly .card .annually {
  display: none;
}

.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(234, 14%, 74%);
  margin-bottom: 70px;
}

.toggle-button label {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  height: 30px;
  width: 55px;
}

.toggle-button label .pill {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 3.8px;
  height: 24px;
  width: 24px;
  transition: transform 0.4s ease;
}

.toggle-button input {
  position: absolute;
  left: -9999px;
}

.toggle-button input:checked + label .pill {
  transform: translateX(25px);
}

@media screen and (max-width: 1023px) {
  body {
    background-image: url('../images/bg-top.svg');
    background-repeat: no-repeat;
    background-position: 220px -30px;
    background-size: 88%;
  }

  .cards {
    display: block;
    padding: 10px;
    max-width: 500px;
    margin: auto;
  }

  .card {
    margin: 20px;
  }

  .card.card-premium {
    transform: scaleY(1);
    padding: 20px;
  }

  .card.card-premium > * {
    transform: scaleY(1);
  }
}
